@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: "Heebo", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.nav {
  border: 1px solid #fff;
  border-radius: 20px;
  width: 400px;
  height: 600px;
}
.btn_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
.btn_flex button {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: #222222;
  border: none;
  color: #fff;
}

h4 {
  text-align: center;
  font-size: 120px;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
}

.btn_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #000;
  font-size: 130px;
  font-weight: 100;
  background-color: #01301c;
  color: #00ea86;
  transition: all 0.3s;
  cursor: pointer;
}
.btn_top:active {
  border: 5px solid #00ea86;
  background-color: #026e3f;
}

.btn_botton {
  width: 90px;
  height: 90px;
  border: 5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -40px;
  font-size: 60px;
  color: #00ea86;
  background-color: #01301c;
  transition: all 0.3s;
  cursor: pointer;
}
.btn_botton:active {
  border: 5px solid #00ea86;
  background-color: #026e3f;
}

p{
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}